
body{
  background-color: #f0f0f0;
}

.pt-5{
  background-color: #000;
}

.col-md-12 {
  max-width: 650px;
}

.card {
  max-width: 600px;
  margin: 15px;
}

.badge {
  font-size: 25px; 
  padding: 10px;
}
/*Footer Starts Here*/
footer {
                background-color: #000;
                padding: 30px 0px;
            }
            
            .logo {
                color: #FFF;
                font-weight: 700;
                font-size: 30px;
                letter-spacing: 1px;
            }
            
            .address span,
            .menu span {
                color: #FFF;
                font-weight: bold;
                border-bottom: 1px solid #c7c7c7;
                padding: 10px 0px;
                display: block;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 2px;
                font-family: 'Red Hat Display', sans-serif;
            }
            
            .address li a,
            .menu li a {
                color: #FFF;
                letter-spacing: 2px;
                text-decoration: none;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
            }
            
            .address li,
            .menu li {
                margin: 20px 0px;
                list-style: none;
            }
            
            .address li a:hover,
            .menu li a:hover {
                color: #ffb500;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }
            
            .address .fas {
                color: #ffb500;
                margin-right: 10px;
                font-size: 18px;
            }
/*Footer Ends Here*/